
main {
   width: 100%;
   height: 100vh; 
}

header {
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

h1 {
    margin-botton: 30px;
}

.fahrenheit{
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 768px;
    margin: 10px;
}

.input {
    margin: 0 100px;
    border-radius: 5px;
    padding: 5px;
    border: solid;
}

body {
    text-align: center;
    border-style: solid;
    margin: 50px;
}


.value {
    text-align: center;
    margin: 10px;
}

.celciusName {
    text-align: center;
}

.celcius {
    text-align: center;
}